{% for producer in delivery.producers %}
    <h2>{{ producer }}</h2>
    <h4>Référent⋅e : {{ delivery.producers[producer].referent }} / {{ delivery.producers[producer].tel_referent }}</h4>
<table class="delivery">
    <thead>
        <tr>
            <th class="product">Produit</th>
            <th class="price">Prix</th>
            {% if delivery.has_packing %}
                <th class="packing">Conditionnement</th>
            {% endif %}
            <th class="amount">Total</th>
            {% for orderer, order in delivery.orders.items() %}
                <th class="person{% if delivery.is_passed and not order.paid %} not-paid{% endif %}">
                    {% if request.user and request.user.is_staff %}
                        <a href="/livraison/{{ delivery.id }}/commander?orderer={{ orderer }}" title="{{ orderer }}">{{ orderer }}</a>
                    {% else %}
                        <span title="{{ orderer }}">{{ orderer }}</span>
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for product in delivery.get_products_by(producer) %}
        <tr>
            <th class="product">{{ product }}</th>
            <td>{{ product.price | round(2) }} €</td>
            {% if delivery.has_packing %}
                <td class="packing">{% if product.packing %}{{ product.packing }} x {% endif %} {{ product.unit }}</td>
            {% endif %}
            <th{% if delivery.status == delivery.ADJUSTMENT and delivery.product_missing(product) %} class="missing" title="Les commandes individuelles ne correspondent pas aux conditionnements"{% endif %}>
                {{ delivery.product_wanted(product) }}
                {% if delivery.status == delivery.ADJUSTMENT and delivery.product_missing(product) %} (−{{ delivery.product_missing(product) }})
                {% if request.user.is_staff %}<a href="/livraison/{{ delivery.id }}/ajuster/{{ product.ref }}" class="button" title="ajuster le produit">ajuster</a>{% endif %}
                {% endif %}
            </th>
            {% for email, order in delivery.orders.items() %}
                <td title="Commandé: {{ order[product.ref].wanted }} — Ajusté: {{ "%+d"|format(order[product.ref].adjustment) }}">{{ order[product.ref].quantity or "—" }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <th class="total"><i class="icon-pricetags"></i> Total</th><td>—</td>
            {% if delivery.has_packing %}
                <td>—</td>
            {% endif %}
            <th class="total">{{ delivery.total_for_producer(producer) }} €</th>
            {% for email, order in delivery.orders.items() %}
            <td>{{ order.total(delivery.get_products_by(producer)) }} €</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endfor %}