{% if deliveries %}
<ul class="delivery">
    {% for delivery in deliveries %}
    <li>
        <h3><a href="{{ url_for('show_delivery', id=delivery.id) }}"><i class="icon-hotairballoon"></i> {{ delivery.name
                }}</a> {% include "includes/order_button.html" %} <a class="button"
                href="{{ url_for('show_delivery', id=delivery.id) }}">Voir les commandes</a></h3>
        {% include "includes/delivery_head.html" %}
    </li>
    <hr>
    {% endfor %}
</ul>
{% else %}
<p>🤔 Il n'y a aucune distribution à venir. Vous pouvez <a href="{{ url_for('new_delivery') }}">en lancer une
        nouvelle</a> !
    {% endif %}