{% if referent %}
{% set producers = delivery.get_producers_for_referent(referent) %}
{% else %}
{% set producers = delivery.producers %}
{% endif %}
{% for producer in producers %}
    <h2>{{ producer }} {% if edit_mode %}<a class="button" href="/livraison/{{ delivery.id }}/{{ producer }}/éditer"><i class="icon-ribbon"></i>Éditer</a> <a class="button" href="/livraison/{{ delivery.id }}/{{ producer }}/ajouter-produit"><i class="icon-puzzle"></i>Ajouter un produit </a>{% endif %}
        {% if delivery.can_generate_reports and (request.user.is_staff or delivery.producers[producer].referent == request.user.email) %}
        <a class="button" href="/livraison/{{ delivery.id }}/{{ producer }}/bon-de-commande"><i class="icon-grid"></i>&nbsp; Télécharger le bon de commande</a> 
        {% endif %}
    </h2>
    <h5>{% if delivery.producers[producer].description %}{{ delivery.producers[producer].description }}{% endif %}. Référent⋅e : {{ delivery.producers[producer].referent }} / {{ delivery.producers[producer].tel_referent }}</h5>
<table class="delivery">
    <thead>
        <tr>
            <th class="product">Produit</th>
            <th class="price">Prix</th>
            {% if delivery.has_packing %}
                <th class="packing">Conditionnement</th>
            {% endif %}
            {% if edit_mode %}<th>Éditer</th>{% endif %}
            {% if not list_only %}
            <th class="amount">Total</th>
            {% for orderer, order in delivery.orders.items() %}
                <th class="person{% if delivery.is_passed and not order.paid %} not-paid{% endif %}">
                    {% if request.user and request.user.is_staff %}
                        <a href="/livraison/{{ delivery.id }}/commander?orderer={{ orderer }}" title="{{ orderer }}">{{ orderer }}</a>
                    {% else %}
                        <span title="{{ orderer }}">{{ orderer }}</span>
                    {% endif %}
                </th>
            {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for product in delivery.get_products_by(producer) %}
        <tr>
            <th class="product {% if product.rupture %}rupture{% endif %}">{% if edit_mode %}<a href="/livraison/{{ delivery.id }}/{{ product.producer }}/{{ product.ref }}/éditer">{% endif %}{{ product }}{% if edit_mode %}</a>{% endif %}{% if product.rupture %} {{ product.rupture }}{% endif %}
            <td>{{ product.price | round(2) }} €</td>
            {% if delivery.has_packing %}
                <td class="packing">{% if product.packing %}{{ product.packing }} x {% endif %} {{ product.unit }}</td>
            {% endif %}
            {% if not list_only %}
            <th{% if delivery.status == delivery.ADJUSTMENT and delivery.product_missing(product) %} class="missing" title="Les commandes individuelles ne correspondent pas aux conditionnements"{% endif %}>
                {{ delivery.product_wanted(product) }}
                {% if delivery.status == delivery.ADJUSTMENT and delivery.product_missing(product) %} (−{{ delivery.product_missing(product) }})
                {% if request.user.is_staff %}<a href="/livraison/{{ delivery.id }}/ajuster/{{ product.ref }}" class="button" title="ajuster le produit">ajuster</a>{% endif %}
                {% endif %}
            </th>
            {% for email, order in delivery.orders.items() %}
                <td title="Commandé: {{ order[product.ref].wanted }} — Ajusté: {{ "%+d"|format(order[product.ref].adjustment) }}">{{ order[product.ref].quantity or "—" }}</td>
            {% endfor %}
            {% endif %}
            {% if edit_mode %}<td><a href="/livraison/{{ delivery.id }}/{{ product.producer }}/{{ product.ref }}/éditer">modifier</a></td>{% endif %}
        </tr>
        {% endfor %}
        {% if not list_only %}
        <tr>
            <th class="total"><i class="icon-pricetags"></i> Total</th><td>—</td>
            {% if delivery.has_packing %}
                <td>—</td>
            {% endif %}
            <th class="total">{{ delivery.total_for_producer(producer) }} €</th>
            {% for email, order in delivery.orders.items() %}
            <td>{{ order.total(delivery.get_products_by(producer)) }} €</td>
            {% endfor %}
        </tr>
        {% endif %}
    </tbody>
</table>
{% endfor %}