{% extends "includes/modal.html" %}

{% block modal_label %}<i class="icon-upload"></i> Importer les produits depuis un tableur{% endblock modal_label %}
{% block modal_body %}
<h3>Importer des produits</h3>
<p>Format pris en charge: xlsx</p>
<details>
    <p>Le tableur doit contenir deux onglets, le premier avec les produits, le second avec les producteurs.</p>
    <summary>Détails des colonnes produits</summary>
    <dl>
        <dt class="mandatory">ref</dt>
        <dd>Référence unique du produit (permet de mettre à jour les produits en cours de commande ou d'importer des commandes individuelles).</dd>
        <dt class="mandatory">name</dt>
        <dd>Nom du produit: mettre juste assez d'info pour distinguer les produits les uns des autres.</dd>
        <dt class="mandatory">price</dt>
        <dd>Prix d'une unité, en euros.</dd>
        <dt>unit</dt>
        <dd>Conditionnement d'une unité: 1kg, 33cl…</dd>
        <dt>producer</dt>
        <dd>Le nom du producteur. Utilisé pour pouvoir grouper les produits par producteur.</dd>
        <dt>description</dt>
        <dd>Plus de détails sur le produit.</dd>
        <dt>packing</dt>
        <dd>Contionnement final pour grouper les commandes, le cas échéant, en nombre d'unités.</dd>
        <dt>url</dt>
        <dd>Une URL éventuelle pointant sur une page présentant le produit.</dd>
        <dt>img</dt>
        <dd>Une URL éventuelle pointant sur une image du produit (attention, utiliser seulement des liens https).</dd>
    </dl>
    <summary>Détails des colonnes producteur</summary>
    <dl>
        <dt class="mandatory">id</dt>
        <dd>Nom du producteur (doit être le même que le premier onglet).</dd>
        <dt>referent</dt>
        <dd>Le nom du ou de la référent⋅e</dd>
        <dt>contact</dt>
        <dd>Un moyen de contacter le⋅a product⋅eur⋅rice</dd>
    </dl>
</details>
<form action="/livraison/{{ delivery.id }}/importer/produits" method="post" enctype="multipart/form-data">
    <input type="file" name="data" required>
    <input type="submit" value="Mettre à jour les produits et product⋅eur⋅rice⋅s">
</form>
{% endblock modal_body %}
