<!DOCTYPE html>
<html>
<head>
	<title>{% if title %}{{ title }} - {% endif %}{{ config.SITE_NAME }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="/static/app.css">
    <link rel="stylesheet" type="text/css" href="/static/icomoon.css">
    {% block head %}
    {% endblock head %}

</head>
<body>
    <header>
    {% if message %}
        <section class="notification {{ message[1] }}"><i class="icon-megaphone"></i> {{ message[0] }}</section>
    {% endif %}
    <section class="menu">
        <h1><a href="/">{{ config.SITE_NAME }}</a> <small>{{ config.SITE_DESCRIPTION }}</small></h1>
        {% block title %}<h2>{% if delivery %}{{ delivery.name }}{% endif %}{% block actions %}{% endblock %}{% endblock %}</h2>
        
        <nav>
            {% if request.user %}
                <i class="icon-lock"></i>&nbsp;<span>{{ request["user"].email }} {% if request["user"].group_name %}({{ request["user"].group_name }}){% endif %} <a href="/déconnexion">déconnexion</a></span>
            {% endif %}
        </nav>
    </section>
    </header>
    <main>
    {% block body %}
    {% endblock body %}
    </main>
</body>
</html>
