{% extends "base.html" %}

{% block actions %}
{% include "includes/order_button.html" %}
{% endblock %}
{% block body %}
{% include "includes/delivery_head.html" %}

{% if request['user'].email == delivery.contact %}
<div class="notification info"><i class="icon-lightbulb"></i> Vous êtes la personne référente de cette distribution <a class="button" href="/livraison/{{ delivery.id }}/gérer">Voir la boîte à outils</a></div>
{% elif request['user'].email in delivery.get_referents() %}
<div class="notification info"><i class="icon-lightbulb"></i> Vous êtes référent⋅e pour cette distribution (merci !). <a class="button" href="/livraison/{{ delivery.id }}/producteurices?referent={{request['user'].email}}">Gérer les produits dont vous vous occupez</a></div>
{% endif %}
<ul class="progressbar">
    <li {% if delivery.status == delivery.OPEN %}class="active"{% endif %}>Mise à jour des prix</li>
    <li {% if delivery.status == delivery.OPEN %}class="active"{% endif %}>Ouverture des commandes</li>
    <li {% if delivery.status == delivery.ADJUSTMENT %}class="active"{% endif %}>Ajustements</li>
    <li {% if delivery.can_generate_reports %}class="active"{% endif %}>Achats par les référent⋅e⋅s</li>
    <li>Distribution</li>
</ul>
<article class="delivery">
{% if delivery.has_products %}
    {% include "includes/delivery_table.html" %}
{% else %}
<p>Aucun produit n'est encore défini pour cette livraison.</p>
{% if request.user and request.user.is_staff %}
<div class="inline-text">Pour rajouter des produits, il faut d'abord <a href="/livraison/{{ delivery.id }}/exporter"><i class="icon-layers"></i> télécharger le tableur avec les produits</a>, le modifier localement sur votre machine puis &nbsp;</div> <div class="inline-text">{% with unique_id="import-products" %}{% include "includes/modal_import_products.html" %}{% endwith %}.</div>
{% endif %}
{% endif %}
</article>
<hr>
<ul class="toolbox">
    {% if not delivery.is_archived and delivery.status == delivery.CLOSED %}
    <li>
        <a href="/livraison/{{ delivery.id }}/producteurices.pdf"><i class="icon-ribbon"></i> Bon de commande</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/rapport-complet.xlsx"><i class="icon-grid"></i> Rapport complet</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/émargement" target="_blank"><i class="icon-document"></i> Résumé de commandes</a>
    </li>
    {% endif %}
    {% if request.user and request.user.is_staff %}
    {% if delivery.is_archived %}
    <li>
        <a href="/livraison/{{ delivery.id }}/désarchiver" class="button danger"><i class="icon-hazardous"></i>&nbsp;Désarchiver</a>
    </li>
    {% endif %}
    <li>
        <a href="/livraison/{{ delivery.id }}/exporter"><i class="icon-layers"></i> Télécharger les infos produits</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/edit"><i class="icon-adjustments"></i> Modifier la livraison</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/solde"><i class="icon-wallet"></i> Répartition des paiements</a>
    </li>
    {% endif %}
    <li>
        <a href="/groupes"><i class="icon-globe"></i>&nbsp;Gérer les groupes</a>
    </li>
</ul>
{% endblock body %}
