{% extends "base.html" %}

{% block body %}
<h3>{{ delivery.name }} {% include "includes/order_button.html" %}</h3>
{% include "includes/delivery_head.html" %}
<article class="delivery">
{% if delivery.has_products %}
    {% include "includes/delivery_table.html" %}
{% else %}
<p>Aucun produit n'est encore défini pour cette livraison.</p>
{% if request.user and request.user.is_staff %}
<div class="inline-text">Pour rajouter des produits, il faut d'abord <a href="/livraison/{{ delivery.id }}/exporter/produits"><i class="icon-layers"></i> télécharger le tableur avec les produits</a>, le modifier localement sur votre machine puis &nbsp;</div> <div class="inline-text">{% with unique_id="import-products" %}{% include "includes/modal_import_products.html" %}{% endwith %}.</div>
{% endif %}
{% endif %}
</article>
<hr>
<ul class="toolbox">
    {% if not delivery.is_archived and delivery.status == delivery.CLOSED %}
    <li>
        <a href="/livraison/{{ delivery.id }}/bon-de-commande.xlsx"><i class="icon-ribbon"></i> Bon de commande</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/rapport-complet.xlsx"><i class="icon-grid"></i> Rapport complet</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/émargement" target="_blank"><i class="icon-document"></i> Liste d'émargement</a>
    </li>
    {% endif %}
    {% if request.user and request.user.is_staff %}
    <li>
        <a href="/livraison/{{ delivery.id }}/exporter/produits"><i class="icon-layers"></i> Télécharger les produits</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/edit"><i class="icon-adjustments"></i> Modifier la livraison</a>
    </li>
    <li>
        {% with unique_id="import-command" %}
            {% include "includes/modal_import_command.html" %}
        {% endwith %}
    </li>
    <li>
        {% with unique_id="add-command" %}
            {% include "includes/modal_add_command.html" %}
        {% endwith %}
    </li>
    <li>
        {% with unique_id="copy-emails" %}
            {% include "includes/modal_copy_emails.html" %}
        {% endwith %}
    </li>
    {% if delivery.is_passed %}
    <li>
        <a href="/livraison/{{ delivery.id }}/solde"><i class="icon-wallet"></i> Gérer les soldes</a>
    </li>
    {% endif %}
    {% endif %}
</ul>
{% endblock body %}
