{% extends "base.html" %}

{% block body %}
<h1>Gérer « {{ delivery.name }} »</h1>

{% set display_counts = True %}
{% include "includes/delivery_head.html" %}

<h3>Emails des référent⋅e⋅s</h3>
<p>Au cas où, quoi.</p>
<textarea class="list-emails" rows=5>{{ referents | join(', ') }}</textarea>

<h3>Avant et pendant la distribution</h3>
<a class="button" href="/livraison/{{ delivery.id }}/edit"><i class="icon-pencil"></i>&nbsp; Modifier la commande (dates, lieu, référent⋅e, etc)</a>
<a class="button" href="/livraison/{{ delivery.id }}/producteurices"><i class="icon-pencil"></i>&nbsp; Modifier les produits, les product⋅rices⋅eurs</a>
<a class="button" href="/groupes"><i class="icon-globe"></i>&nbsp; Gérer les groupes / colocs</a>

<h3>Une fois les commandes passées (après le {{ delivery.order_before|date }})</h3>
<a class="button" href="/livraison/{{ delivery.id }}/producteurices.pdf"><i class="icon-download"></i>&nbsp; Télécharger les bons de livraison</a>
<a class="button" href="/livraison/{{ delivery.id }}/rapport-complet.xlsx"><i class="icon-download"></i>&nbsp; Télécharger le tableau des commandes</a>
<a class="button" href="/livraison/{{ delivery.id }}/envoi-email-referentes"><i class="icon-envelope"></i>&nbsp; Envoyer les infos de commande aux référent⋅e⋅s</a>

<h3>Pour préparer la distribution (le {{ delivery.from_date|date }})</h3>   
<a class="button" href="/livraison/{{ delivery.id }}/émargement"><i class="icon-document"></i>&nbsp; Fiches de commandes par groupe</a>
<a class="button" href="/livraison/{{ delivery.id }}/solde"><i class="icon-gears"></i>&nbsp; Faire la répartition des paiements</a>

{% endblock %}