{% extends "base.html" %}
{% block title %}<h1><i class="icon-wallet"></i>&nbsp; Répartition des paiements <a id="download" class="button" href="/livraison/{{ delivery.id }}/solde.pdf">Télécharger</a></h1>{% endblock %}
{% block body %}
<p class="info">{{ delivery.name }} du {{ delivery.to_date | date }}.</p>
<p class="info">Les personnes indiquées avec un <code>*</code> à côté de leur nom sont celles qui ont payé cette commande pour leur groupe.</p>
<table class="paiements">
    <tr>
        <td></td>
        {% for crediter in crediters %}<td>{% if crediter[0] in crediters_groups %} {{ crediters_groups[crediter[0]] }}*{% else %}{{ crediter[0] }}{% endif %} (+{{ crediter[1] | round(2) }})</td>{% endfor %}
    </tr>
    {% for debiter in debiters %}
    <tr>
        <td>{% if debiter[0] in debiters_groups %} {{ debiters_groups[debiter[0]].name }}{% else %}{{ debiter[0] }}{% endif %} ({{ debiter[1] | round(2) }})</td>
        {% for crediter in crediters %}
        {% set due_amount = results[debiter[0]][crediter[0]] | round(2) %}

        <td>{% if due_amount != 0.00 %}{{due_amount}}{% endif %}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock body %}
