{% extends "base.html" %}

{% block body %}
{% if product.ref %}
    <h1>Modifier le produit « {{ product.name }} »</h1>
{% else %}
    <h1>{{ producer_id }} : Nouveau produit</h1>
{% endif %}
<form method="post">
    <label>
        <p>Nom</p>
        <input type="text" name="name" value="{{ product.name or '' }}" required>
    </label>
    <label>
        <p>Prix (en €), pour une unité</p>
        <input type="number" step="0.01" name="price" value="{{ product.price or '' }}" required>
    </label>
    <label>
        <p>Unité de commande</p>
        <input type="text" name="unit" placeholder="sachet de 200g" value="{{ product.unit or '' }}" required>
    </label>
    <label>
        <h5>Description du produit</h5>
        <input type="text" name="description" placeholder="Bière type American Pale Ale" value="{{ product.description or '' }}">
    </label>
    <label>
        <h5>URL d'une image du produit</h5>
        <input type="url" name="url" placeholder="https://example.com/image.png" value="{{ product.url or '' }}">
    </label>
    <label>
        <h5>Conditionnement (par combien d'unités est vendu ce produit ?)</h5>
        <h5><em>par exemple, entrez 6 si ce sont des cartons de 6 bouteilles</em></h5>
        <input type="number" name="packing" placeholder="6" value="{{ product.packing or '' }}">
    </label>
    <br />
    <label>
        Produit actuellement en rupture ?
        <input type="checkbox" name="rupture" value="RUPTURE" {% if product.rupture %}checked="true"{% endif %}>
    </label>
    <div>
        <input type="submit" name="submit" value="Valider" class="primary">
    </div>
</form>

{% if products %}
<h3>Produits</h3>

<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Unité</th>
            <th>Description</th>
            <th>Packaging</th>
            <th>Rupture ?</th>
            <th></th>
        </tr>
    </thead>
{% for product in products %}
<tr>
    <td><a href="/livraison/{{ delivery.id }}/produit/{{ product.ref }}/éditer">{{ product.name }}</a></td>
    <td>{{ product.price }}€</td>
    <td>{{ product.unit }}</td>
    <td>{{ product.description }}</td>
    <td>{% if product.packing %}{{ product.packing }}{% endif %}</td>
    <td>{% if product.rupture %}RUPTURE !!{% endif %}</td>
    <td><a href="/livraison/{{ delivery.id }}/produit/{{ product.ref }}/éditer">éditer</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

<hr>
{% endblock body %}
