{% extends "base.html" %}

{% block body %}
{% if delivery.id %}
    <h1>Modifier la livraison</h1>
{% else %}
    <h1>Nouvelle livraison</h1>
{% endif %}
<form method="post">
    <label>
        <p>Producteur</p>
        <input type="text" name="producer" value="{{ delivery.producer or '' }}" required>
    </label>
    <label>
        <p>Description des produits</p>
        <input type="text" name="description" value="{{ delivery.description or '' }}">
    </label>
    <label>
        <p>Référent</p>
        <input type="email" name="contact" value="{{ delivery.contact or request.user.email }}" required>
    </label>
    <label>
        <p>Lieu</p>
        <input type="text" name="where" value="{{ delivery.where or '' }}" required>
    </label>
    <label>
        <p>Date de livraison</p>
        <input type="date" name="date" value="{{ delivery.from_date.date() if delivery.from_date else '' }}" required> de <input type="time" name="from_time" value="{{ delivery.from_date.time() if delivery.from_date else '' }}" required> à <input type="time" name="to_time" value="{{ delivery.to_date.time() if delivery.to_date else '' }}" required>
    </label>
    <label>
        <p>Date de limite de commande</p>
        <input type="date" name="order_before" value="{{ delivery.order_before.date() if delivery.order_before else '' }}" required>
    </label>
    <label>
        <p>Instructions particulières</p>
        <input type="text" name="instructions" value="{{ delivery.instructions or '' }}">
    </label>
    <div>
        <input type="submit" name="submit" value="Valider" class="primary">
    </div>
</form>
<hr>
{% if delivery %}
<h3>Importer des produits</h3>
<p>Formats pris en charge: xlsx, csv</p>
<details>
    <summary>Détails des colonnes</summary>
    <dl>
        <dt class="mandatory">ref</dt>
        <dd>Référence unique du produit (permet de mettre à jour les produits en cours de commande ou d'importer des commandes individuelles).</dd>
        <dt class="mandatory">name</dt>
        <dd>Nom du produit: mettre juste assez d'info pour distinguer les produits les uns des autres.</dd>
        <dt class="mandatory">price</dt>
        <dd>Prix d'une unité, en euros.</dd>
        <dt>unit</dt>
        <dd>Conditionnement d'une unité: 1kg, 33cl…</dd>
        <dt>description</dt>
        <dd>Plus de détails sur le produit.</dd>
        <dt>packing</dt>
        <dd>Contionnement final pour grouper les commandes, le cas échéant, en nombre d'unités.</dd>
        <dt>url</dt>
        <dd>Une URL éventuelle pointant sur une page présentant le produit.</dd>
        <dt>img</dt>
        <dd>Une URL éventuelle pointant sur une image du produit (attention, utiliser seulement des liens https).</dd>
    </dl>
</details>
<form action="/livraison/{{ delivery.id }}/importer/produits" method="post" enctype="multipart/form-data">
    <input type="file" name="data" required>
    <input type="submit" value="Mettre à jour les produits">
</form>
{% endif %}
{% endblock body %}
