{% extends "base.html" %}

{% block body %}
{% if not request['user'].group_id %}
<p>Bienvenue ! Avant de pouvoir commander, peux-tu nous indiquer de quelle coloc / famille fais-tu partie ? </p>
{% endif %}
<p>Voici la liste des colocs / familles déjà renseignées. Tu peux aussi <a class="button" href="/groupes/créer"><i class="icon-globe"></i>&nbsp;créer un nouveau groupe</a></p>


{% for group in groups.groups.values() %}
<h3>{{ group.name }} {% if group.id != request['user'].group_id %}<a class="button" href="/groupes/{{ group.id}}/rejoindre">rejoindre</a>{% endif %} <a class="button" href="/groupes/{{ group.id }}/éditer">éditer</a></h3>
<ul>
    {% for member in group.members %}
    <li>{{ member }}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}