{% extends "base.html" %}

{% block body %}
<div class="header">
    <h1>Groupes</h1>
    <ul class="actions">
        <li><a class="button" href="/groupes/créer"><i class="icon-globe"></i>&nbsp;Créer un nouveau groupe</a></li>
    </ul>
</div>

{% if not request['user'].group_id %}
<p>Bienvenue ! Avant de pouvoir commander, peux-tu nous indiquer de quelle coloc / famille fais-tu partie ? </p>
{% endif %}


{% for group in groups.groups.values() %}
<h3>{{ group.name }} {% if group.id != request['user'].group_id %}<a class="button" href="/groupes/{{ group.id}}/rejoindre">rejoindre</a>{% endif %} <a class="button" href="/groupes/{{ group.id }}/éditer">éditer</a></h3>
<ul>
    {% for member in group.members %}
    <li>{{ member }}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}