{% extends "base.html" %}
{% block body %}
    {% with deliveries=incoming %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
    {% if former %}
    <h2>Livraisons passées</h2>
    {% with deliveries=former %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
    {% endif %}
    {% if archives %}
    <a href="/archives">Voir les livraisons archivées</a>
    <hr>
    {% endif %}
    <ul class="toolbox">
        {% if request.user.is_staff %}
        <li>
            <a class="button" href="/livraison"><i class="icon-hotairballoon"></i>&nbsp;Nouvelle livraison</a>&nbsp;
        </li>
         {% endif %}
        <li>
            <a href="/groupes" class="button"><i class="icon-globe"></i>&nbsp;Gérer les groupes / colocs</a>
        </li>
    </ul>
{% endblock body %}
