{% extends "base.html" %}
{% block body %}
    <h2>Livraisons à venir</h2>
    <ul class="delivery">
    {% for delivery in deliveries %}
    <li>
        <h3><a href="/livraison/{{ delivery.id }}"><i class="icon-hotairballoon"></i> {{ delivery.producer }}</a> {% if delivery.is_open %}<a class="button" href="/livraison/{{ delivery.id }}/commander">Gérer ma commande</a>{% endif %}</h3>
        {% include "includes/delivery_head.html" %}
    </li>
    <hr>
    {% endfor %}
    </ul>
{% endblock body %}
