{% extends "base.html" %}
{% block body %}
    <h2>Livraisons à venir</h2>
    {% with deliveries=incoming %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
    <h2>Livraisons passées</h2>
    {% with deliveries=former %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
    <a href="/archives">Voir les livraisons archivées</a>
    <hr>
    <ul class="toolbox">
        <li>
            <a href="/groupes" class="button"><i class="icon-globe"></i>&nbsp;Gérer les groupes</a>
        </li>
    </ul>
{% endblock body %}
