{% extends "base.html" %}
{% block body %}
<h1>Bienvenue sur copanier</h1>
<p>On dirait que vous venez de lancer ce logiciel pour la première fois, bienvenue ici 😀.</p>
<p>Pour commencer, deux options :</p>
<ul>
    <li><a class="button" href=" {{ url_for('activate_demo') }}">Activer le mode de démonstration</a> pour jeter un coup
        d'œil rapidement aux fonctionalités.</li>
    <li>Sinon, vous pouvez commencer par <a class="button" href="{{ url_for('groups') }}">rejoindre un foyer</a> et
        commencer une distribution.</p>
    </li>

</ul>
<p>La peinture est encore fraiche, alors si vous avez besoin d'un coup de main, n'hésitez pas à <a
        href="mailto:alexis@notmyidea.org">m'envoyer un mail</a> ! 🙏</p>
{% endblock body %}