{% extends "base.html" %}
{% block body %}
<form method="post">
    <input type="email" name="email" placeholder="Mon courriel" required>
    <input type="submit" value="Envoyez-moi un sésame">
</form>
{% endblock body %}
