<title>{% if title %}{{ title }} - {% endif %}Commandes Epinamap</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2>{{ delivery.producer }} {{ delivery.when.date() }} - liste d'émargement</h2>
{% for email, order in delivery.orders.items() %}
    <h3>{{ email }}</h3>
    <table class="order">
        <tr><th class="product">Produit</th><th class="price">Prix unitaire</th><th class="amount">Quantité</th></tr>
        {% for product in delivery.products %}
        {% if order.get_quantity(product) %}
        <tr>
            <th class="product">{{ product.name }}</th>
            <td>{{ product.price }} €</td><td>{{ order.get_quantity(product) }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <p>Total: {{ order.total(delivery.products) if order else 0 }} €</p>
    <hr>
{% endfor %}
