{% extends "base.html" %}

{% block body %}
<div class="header">
    {% if group.id %}
    <h1>Modifier le foyer</h1>
    {% else %}
    <h1>Créer un nouveau foyer</h1>
    {% endif %}
    <h4>Les foyers permettent de gérer les commandes pour d'autres personnes (colocs, familles, etc)</h4>
</div>

<form method="post">
    <label>
        <p>Nom</p>
        <input type="text" name="name" value="{{ group.name or '' }}" required>
    </label>
    <label>
        <p>Membres du foyer (emails, séparés par des virgules)</p>
        <input type="text" name="members" value="{{ ', '.join(group.members) if group.members else '' }}">
    </label>
    <div>
        <input type="submit" name="submit" value="Valider" class="primary">
    </div>
</form>
<hr>
{% if group.id %}
<ul class="toolbox">
    <li>
        <a href="{{ url_for('delete_group', id=group.id) }}" class="button danger"><i
                class="icon-hazardous"></i>&nbsp;Supprimer ce foyer</a>
    </li>
</ul>
{% endif %}
{% endblock body %}