{% extends "base.html" %}

{% block toplink %}<a href="{{ url_for('show_delivery', id=delivery.id) }}">↶ Retourner à la distribution</a>{% endblock
%}

{% block body %}

<div class="header">
    <h1>{{ delivery.name }}</h1>
</div>

<i class="icon-lightbulb"></i> <strong>{{ delivery.orders|length }}</strong> foyers, <strong>{{ delivery.products|length
    }}</strong> produits et <strong>{{ delivery.producers | length}}</strong> fournisseurs. <br /> Total de la commande
: <strong>{{ delivery.total }}€</strong></li>

<h2>Rappel des dates</h2>
{% include "includes/delivery_dates_table.html" %}

<h2>Emails des référent⋅e⋅s</h2>
<p>Ça peut être utile pour leur envoyer un email groupé.</p>
<textarea class="list-emails" rows=5>{{ referents | join(', ') }}</textarea>

<h2>Quelques liens utiles</h2>

Avant et pendant la distribution :
<ul>
    <li><a href="{{ url_for('groups', id=delivery.id) }}"><i class="icon-globe"></i>&nbsp; Gérer les foyers /
            colocs</a></li>
    <li><a href="{{ url_for('edit_delivery', id=delivery.id) }}"><i class="icon-pencil"></i>&nbsp; Modifier la commande
            (dates, lieu, référent⋅e, etc)</a></li>
    <li><a href="{{ url_for('list_products', id=delivery.id) }}"><i class="icon-pencil"></i>&nbsp; Gérer les
            produits</a></li>
</ul>

Une fois les commandes passées :
<ul>
    <li><a href="{{ url_for('list_products', id=delivery.id) }}/produits.pdf"><i class="icon-download"></i>&nbsp;
            Télécharger la liste des produits commandés</a></li>
    <li><a href="{{ url_for('generate_report', id=delivery.id) }}"><i class="icon-download"></i>&nbsp; Télécharger le
            tableau des commandes</a></li>
    <li><a href="{{ url_for('send_referent_emails', id=delivery.id) }}"><i class="icon-envelope"></i>&nbsp; Envoyer les
            infos de commande aux référent⋅e⋅s</a></li>
</ul>

Pour préparer la distribution :

<ul>
    <li><a href="{{ url_for('show_orders_summary', id=delivery.id) }}"><i class="icon-document"></i>&nbsp; Fiches de
            commandes par foyer</a></li>
    <li><a href="{{ url_for('compute_payments', id=delivery.id) }}"><i class="icon-gears"></i>&nbsp; Faire la
            répartition des paiements</a></li>
</ul>

{% endblock %}