{% extends "base.html" %}

{% block body %}
<h3>{{ delivery.producer }}</h3>
{% include "includes/delivery_head.html" %}
<table class="delivery">
    <tbody>
        <tr>
            <th class="ref">Référence</th>
            <th class="product">Produit</th>
            <th class="price">Prix</th>
            {% for email, order in delivery.orders.items() %}
                <th class="person"><a href="/livraison/{{ delivery.id }}/commander?email={{ email }}" title="{{ email }}">{{ email }}</a></th>
            {% endfor %}
            <th class="amount">Total</th>
        </tr>
        {% for product in delivery.products %}
        <tr>
            <th class="product">{{ product.ref }}</th>
            <th class="product">{{ product.name }}</th>
            <td>{{ product.price }} €</td>
            {% for email, order in delivery.orders.items() %}
                {% if product.ref in order.products %}
                <td>{{ order.products[product.ref].wanted }}</td>
                {% else %}
                    <td>—</td>
                {% endif %}
            {% endfor %}
            <th>{{ delivery.product_wanted(product) }}</th>
        </tr>
        {% endfor %}
        <tr><th class="total"><i class="icon-pricetags"></i> Total</th><td>—</td><td>—</td>
            {% for email, order in delivery.orders.items() %}
            <td>{{ order.total(delivery.products) }} €</td>
            {% endfor %}
            <td class="total">{{ delivery.total }} €</td>
        </tr>
    </tbody>
</table>
<hr>
<ul class="toolbox">
    <li>
        <a href="/livraison/{{ delivery.id }}/edit"><i class="icon-adjustments"></i> Modifier la livraison (admin)</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/rapport.xlsx"><i class="icon-magnifying-glass"></i> Rapport résumé</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/rapport-complet.xlsx"><i class="icon-grid"></i> Rapport complet</a>
    </li>
    <li>
        <a href="/livraison/{{ delivery.id }}/émargement" target="_blank"><i class="icon-document"></i> Liste d'émargement</a>
    </li>
    <li>
        <label for="import-command" class="toggle-label"><i class="icon-paperclip"></i> Importer une commande</label>
        <input type="checkbox" id="import-command" class="toggle">
        <div class="toggle-container">
            <label for="import-command" class="toggle-label">Fermer</label>
            <p>Colonnes: ref*, wanted*</p>
            <form action="/livraison/{{ delivery.id }}/importer/commande" method="post" enctype="multipart/form-data">
                <input type="file" name="data">
                <input type="email" name="email" placeholder="email">
                <input type="submit" name="Importer une commande">
            </form>
        </div>
    </li>
</ul>
{% endblock body %}
