{% extends "base.html" %}
{% block body %}
    <h2>Livraisons à venir</h2>
    <ul class="delivery">
    {% for delivery in deliveries %}
    <li>
        <h3><a href="/livraison/{{ delivery.id }}"><i class="icon-hotairballoon"></i> {{ delivery.producer }}</a></h3>
        {% include "includes/delivery_head.html" %}
        <!--form action="/livraison/{{ delivery.id }}/commander">
            <label for="email">Commander</label>
            <input type="email" name="email" placeholder="Mon courriel">
            <input type="submit" value="Commander">
        </form-->
    </li>
    <hr>
    {% endfor %}
    </ul>
{% endblock body %}
