{% extends "base.html" %}

{% block body %}
    {% for delivery in deliveries %}
    <p>Producteur: {{ delivery.producer }}</p>
    <p>Lieu: {{ delivery.where }}</p>
    <p>Date: {{ delivery.when }}</p>
    <form action="/livraison/{{ delivery.id }}/commander">
        <label for="email">Commander</label>
        <input type="email" name="email" placeholder="Mon courriel">
        <input type="submit" value="Commander">
    </form>
    <a href="/livraison/{{ delivery.id }}">Résumé de la livraison</a>
    <hr>
    {% endfor %}
{% endblock body %}
