{% extends "base.html" %}

{% block body %}
<p><a href="/">&lt; Commandes</a></p>
<p>Producteur: {{ producer.name }}</p>
<p>Lieu: {{ order.where }}</p>
<p>Date: {{ order.when }}</p>
<table>
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        {% for email, person_order in order.orders.items() %}
            <th><a href="/commande/{{ order._id }}?email={{ email }}">{{ email }}</a></th>
        {% endfor %}
        <th>Total</th>
    </tr>
    {% for product in order.products %}
    <tr>
        <th>{{ product.name }}</th>
        <td>{{ product.price }} €</td>
        {% for email, person_order in order.orders.items() %}
            {% if product.ref in person_order.products %}
            <td>{{ person_order.products[product.ref].wanted }}</td>
            {% else %}
                <td>—</td>
            {% endif %}
        {% endfor %}
        <th>{{ order.product_wanted(product) }}</th>
    </tr>
    {% endfor %}
</table>
<p>Total: {{ total }} €</p>
{% endblock body %}
