{% extends "base.html" %}

{% block body %}
    <h1>Supprimer le produit « {{ product.name }} »</h1>
<form method="post">
    <label>
        <p>Êtes vous sur⋅e de vouloir supprimer ce produit ?</p>
        <input type="text" name="name" value="{{ product.name or '' }}" required>
    </label>
    <label>
        <p>Prix (en €), pour une unité</p>
        <input type="number" step="0.001" name="price" value="{{ product.price or '' }}" required>
    </label>
    <label>
        <p>Unité de commande</p>
        <input type="text" name="unit" placeholder="sachet de 200g" value="{{ product.unit or '' }}" required>
    </label>
    <label>
        <h5>Description du produit</h5>
        <input type="text" name="description" placeholder="Bière type American Pale Ale" value="{{ product.description or '' }}">
    </label>
    <label>
        <h5>Conditionnement</h5>
        <h5><strong>A indiquer uniquement si ces produits ne peuvent pas être achetés à l'unité</strong>. Par exemple, si il est uniquement possible d'acheter des cartons de 12 bouteilles, alors indiquez « 12 » ici. Dans le doute, laissez vide.</h5>
        <input type="number" name="packing" placeholder="6" value="{{ product.packing or '' }}">
    </label>
    <br />
    <label>
        Produit actuellement en rupture ?
        <input type="checkbox" name="rupture" value="RUPTURE" {% if product.rupture %}checked="true"{% endif %}>
    </label>
    <div>
        <input type="submit" name="submit" value="Valider" class="primary">
    </div>
</form>

{% if products %}
<h3>Produits</h3>

<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Unité</th>
            <th>Description</th>
            <th>Packaging</th>
            <th>Rupture ?</th>
            <th></th>
        </tr>
    </thead>
{% for product in products %}
<tr>
    <td><a href="/produits/{{ delivery.id }}/producteurs/{{ producer.id }}/produits/{{ product.ref }}">{{ product.name }}</a></td>
    <td>{{ product.price }}€</td>
    <td>{{ product.unit }}</td>
    <td>{{ product.description }}</td>
    <td>{% if product.packing %}{{ product.packing }}{% endif %}</td>
    <td>{% if product.rupture %}RUPTURE !!{% endif %}</td>
    <td><a href="/produits/{{ delivery.id }}/producteurs/{{ producer.id }}/produits/{{ product.ref }}">éditer</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

<hr>
{% endblock body %}
