{% extends "base.html" %}

{% block toplink %}<a href="/produits/{{ delivery.id }}/producteurs/{{ producer.id }}">↶ Retourner aux produits de {{ producer.name }}</a>{% endblock %}

{% block body %}

<div class="header">
    {% if product.ref %}
        <h1>Modifier le produit « {{ product.name }} »</h1>
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/produits/{{ delivery.id}}/producteurs/{{ producer.id }}/produits/{{ product.ref }}/supprimer">Supprimer ce produit</a>
                </li>
            </ul>
        </div>
    {% else %}
        <h1>{{ producer.name }} : Nouveau produit</h1>
    {% endif %}
</div>

<form method="post">
    <label>
        <p>Nom</p>
        <input type="text" name="name" value="{{ product.name or '' }}" required>
    </label>
    <label>
        <p>Prix (en €), pour une unité</p>
        <input type="number" step="0.001" name="price" value="{{ product.price or '' }}" required>
    </label>
    <label>
        <p>Unité de commande</p>
        <input type="text" name="unit" placeholder="sachet de 200g" value="{{ product.unit or '' }}" required>
    </label>
    <label>
        <h5>Description du produit</h5>
        <input type="text" name="description" placeholder="Bière type American Pale Ale" value="{{ product.description or '' }}">
    </label>
    <label>
        <h5>Conditionnement</h5>
        <h5><strong>A indiquer uniquement si ces produits ne peuvent pas être achetés à l'unité</strong>. Par exemple, si il est uniquement possible d'acheter des cartons de 12 bouteilles, alors indiquez « 12 » ici. Dans le doute, laissez vide.</h5>
        <input type="number" name="packing" placeholder="6" value="{{ product.packing or '' }}">
    </label>
    <br />
    <label>
        Produit actuellement en rupture ?
        <input type="checkbox" name="rupture" value="RUPTURE" {% if product.rupture %}checked="true"{% endif %}>
    </label>
    <div>
        <input type="submit" name="submit" value="Valider" class="primary">
    </div>
</form>

<hr>
{% endblock body %}
