{% extends "base.html" %}
{% block toplink %}<a href="{{ url_for('edit_producer', delivery_id=delivery.id, producer_id=producer.id) }}">↶ Retourner a {{ producer.name }}</a>{% endblock %}

{% block body %}
<div class="header">
    <h1>Frais de port pour « {{ producer.name }} »</h1>
</div>
<form method="post">
    <label>
        <h5>Coût des frais de port (ne les indiquer qu'une fois connus)</h5>
        <input type="number" name="shipping" value="{{ shipping }}">
    </label>
    <div>
        <input type="submit" name="submit" value="Valider" class="primary">
    </div>
</form>

{% endblock body %}
