{% extends "base.html" %}
{% block toplink %}<a href="/distribution/{{ delivery.id }}">↶ Retourner à la distribution</a>{% endblock %}
{% block body %}
<div class="header">
    <h1>Gérer les produits</h1>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{ url_for('create_producer', delivery_id=delivery.id) }}"><i class="icon-heart"></i>&nbsp;Ajouter un⋅e producteur⋅rice</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{ url_for('copy_products', id=delivery.id) }}"><i class="icon-hotairballoon"></i>&nbsp;Réutiliser les produits d'une autre distrib</a>
            </li>
        </ul>
    </div>
</div>

<article class="delivery">
{% include "includes/delivery_table.html" %}
</article>
{% endblock body %}
